img {
  width: 100%;
}

.subtitulo {
  font-size: 1rem;
  font-weight: 900;
  color: #f1f2f5;

  @media (min-width : 480px) {
    font-size: 1.2rem
  }

}

.bg_grad {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  height: 15rem;
  width: auto;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(255, 208, 0, 0.52), rgba(255, 142, 0)), url('../../../assets/proyectos/office-932926_960_720.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 480px) {
    height: 22rem;
  }

  @media (min-width: 1080px) {
    height: 32rem;
  }
}


.section-secundarios {
  .subtitulo {
    font-size: 1.5rem;
    font-weight: 900;
  }
}

.container {
  --bs-gutter-x: 0rem;
}

.carousel-indicators button {

  background-color: rgba(0, 0, 0, 0.123);

}

.carousel-caption {
  padding: .5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.418);
}

.carousel-inner button {
  color: rgba(0, 0, 0, 0.849);
  background-color: rgba(0, 0, 0, 0.123);

}

.proyectos {
  margin-top: 2rem;

  display: grid;
  gap: 1rem;

  @media (min-width : 768px) {}

  .proyecto__contenedor_imagen {
    position: relative;

    .proyecto__nombre-proyecto {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      left: 0;
      // transform: translate(-50%, -50%);
      font-weight: 900;
      text-align: center;
      font-size: 1.2rem;
      text-transform: uppercase;
      border-radius: .4rem;
      color: white;

      text-shadow: 0 0 1em rgba(255, 255, 255, 0.397);
      color: whitesmoke;
      background-color: rgba(0, 0, 0, 0.514);
      // text-shadow: black 0.1rem 0.1rem 0.1rem;
      transition: all 1s ease-in-out;

      @media (min-width : 780px) {
        font-size: 2rem;
      }


      &:hover {
        background-color: rgba(0, 0, 0, 0.11);
        color: #f1f2f500;
      }
    }

  }


  a {
    border-radius: .2rem;
    padding: .4rem;
    background-color: #f1f2f5;
    overflow: hidden;

    img {
      border: 1px solid rgba(0, 0, 0, 0.103);
    }

  }

}

.proyectos-secundarios {
  display: grid;
  gap: .1rem;
  border-radius: 1rem;
  border: #03091d31 solid 1px;
  overflow: hidden;


  @media (max-width : 780px) {
    display: block;
    border: none;
  }

  .proyectos-secundarios__img {
    cursor: pointer;

    @media (max-width : 780px) {
      margin: .5rem 0;
      border: #03091d31 solid 1px;
    }

    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }


}
