<div>
  <span class="bg_grad animate__animated animate__fadeIn"></span>
  <main class="container animate__animated animate__fadeIn">
    <section class="container section pb-md-0 pb-md-0 pb-lg-5">

      <h1 class="titulo text-white mt-3">Proyectos</h1>

    </section>
  </main>

  <section class="container-lg animate__animated animate__fadeIn">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide mb-5 shadow-lg">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/proyectos/devstagram.webp" loading="lazy" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Devtagram</h5>
            <p>Red social para programadores.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/proyectos/devjobsimg.webp" loading="lazy" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>DevJobs</h5>
            <p>Aplicaion web para postulaciones a empleos.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/proyectos/apvimagen.webp" loading="lazy" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>APV</h5>
            <p>Aplicacion web para administrar pacientes de veterinaria.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/proyectos/agenciadeviajes.webp" loading="lazy" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Agenia de viajes</h5>
            <p>Aplicacion web para mostrar agencia de viajes</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon opacity-25" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon opacity-25" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>


  <section class="container section section-secundarios bg-gray-low">
    <h2 class="titulo text-gray">Proyectos secundarios</h2>
    <p class="subtitulo text-blue">Capturas de pantalla</p>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="./assets/proyectos/devjobsimg.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="./assets/proyectos/devjobsimg.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/proyectos/devjobsimg.webp" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- <p class="subtitulo text-blue">Devstagram</p> -->
    <!-- <div class="proyectos-secundarios">
      <img class="proyectos-secundarios__img" src="./assets/proyectos/devjobsimg.webp" loading="lazy"
        alt="imagen proyecto agencia de viajes">
      <img class="proyectos-secundarios__img" src="./assets/proyectos/devjobsimg.webp" loading="lazy"
        alt="imagen proyecto agencia de viajes">
      <img class="proyectos-secundarios__img" src="./assets/proyectos/devjobsimg.webp" loading="lazy"
        alt="imagen proyecto agencia de viajes">
      <img class="proyectos-secundarios__img" src="./assets/proyectos/devjobsimg.webp" loading="lazy"
        alt="imagen proyecto agencia de viajes">
    </div> -->
  </section>
</div>
