<div>
  <main class="main bg-orange">
    <section class="container section animate__animated animate__fadeIn">
      <h1 class="titulo text-white">Proyectos</h1>
      <p class="subtitulo">Da click para ver a detalle mis principales proyectos o solo deja el ratón encima para echar un vistazo</p>
      <div class="proyectos">
        <a routerLink="">
          <div class="proyecto__contenedor_imagen">
            <img src="./assets/proyectos/agenciadeviajes.png" loading="lazy" alt="imagen proyecto agencia de viajes">
            <span class="proyecto__nombre-proyecto">Agencia de viajes</span>
          </div>
        </a>
        <a routerLink="">
          <div class="proyecto__contenedor_imagen">
            <img src="./assets/proyectos/apvimagen.png" loading="lazy" alt="imagen proyecto agencia de viajes">
            <span class="proyecto__nombre-proyecto">APV</span>
          </div>

        </a>
        <a routerLink="">
          <div class="proyecto__contenedor_imagen">
            <img src="./assets/proyectos/devjobsimg.png" loading="lazy" alt="imagen proyecto agencia de viajes">
            <span class="proyecto__nombre-proyecto">DevJobs</span>
          </div>
        </a>
        <a routerLink="">
          <div class="proyecto__contenedor_imagen">
            <img src="./assets/proyectos/devstagram.png" loading="lazy" alt="imagen proyecto agencia de viajes">
            <span class="proyecto__nombre-proyecto">Devstagram</span>
          </div>
        </a>
      </div>
    </section>
  </main>

  <section class="container section section-secundarios bg-gray-low">
    <h2 class="titulo text-gray">Proyectos secundarios</h2>
    <p class="subtitulo text-blue">Capturas de pantalla</p>
    <p class="subtitulo text-blue">Devstagram</p>
    <div class="proyectos-secundarios">
      <img class="proyectos-secundarios__img" src="./assets/proyectos/devjobsimg.png" loading="lazy"
        alt="imagen proyecto agencia de viajes">
      <img class="proyectos-secundarios__img" src="./assets/proyectos/devjobsimg.png" loading="lazy"
        alt="imagen proyecto agencia de viajes">
      <img class="proyectos-secundarios__img" src="./assets/proyectos/devjobsimg.png" loading="lazy"
        alt="imagen proyecto agencia de viajes">
      <img class="proyectos-secundarios__img" src="./assets/proyectos/devjobsimg.png" loading="lazy"
        alt="imagen proyecto agencia de viajes">
    </div>
  </section>
</div>
