@use "/src/app/shared/variables" as *;

.footer {

}

.footer__texto-derechos{
  text-align: center;
  text-decoration: dotted;
  margin: 0;
  font-weight: 300;
  font-style: normal;
  color: $terciry-text-color;
}

.proyect-detail__technology-name {
  font-size: $fs-sm-tiny;
  color: $terciry-text-color;
  font-weight: 300;
  line-height: 1.5;
  @media (min-width : 670px) {
    font-size: $fs-lg-tiny-exception;
  }
}

.padding-footer{
  padding: 1.8rem;
}

.top-border{
  border-top: .1rem solid $details-color-3;
}

.bg-gray-dark{
  background-color: $secondary-bg-color;
}
