@import '../../app.component.scss';
.footer__texto-derechos{
  text-align: center;
  text-decoration: dotted;
  margin: 0;
  font-style: italic;
  color: white;
}

.padding-footer{
  padding: 1.8rem;
}

.top-border{
  border-top: .1rem solid #51595e;
}

.bg-gray-dark{
  background-color: $thirdColor;
}
