a {
  text-decoration: none;
  color: black;
}

.bg-gray-dark {
  background-color: #2b3b45;
}

.titulo-principal {
  @media (max-width : 680px) {
    text-align: center;
  }
}

.titulo_principal__span {
  position: absolute;
  transform: rotate(-30deg);
  font-size: 1rem;
  top: .5rem;
  left: .1rem;
  color: white;
  font-weight: 900;
  z-index: 1;

  animation-name: showandhide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes showandhide {
  from {
    opacity: 1;
    transform: rotate(-30deg);
  }

  to {
    transform: rotate(10deg);
    opacity: 0;
  }
}

.enlace {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  transition: all .5s;

  &:hover {
    color: #ff8e00;
  }
}

.titulo-principal__texto {
  position: relative;
  font-size: 1.5rem;
  padding: .8rem 1rem;
  border-radius: 1rem;
  font-weight: 900;
  color: white;
  -webkit-text-stroke: .05rem #2b3b45;
  transition: all .5s;

  &:hover {
    color: white;
  }
}

.container {
  padding: 1.2rem;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width : 680px) {
    flex-direction: row;
  }
}

.navegacion {
  display: none;

  @media (min-width : 680px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
  }

  @media (max-width : 680px) {
    margin-top: .5rem;
    flex-direction: column;
  }
}

.navegacion-movil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0;

  .enlace {
    font-size: 2rem;
  }
}

.movil-nav {
  @media (min-width : 680px) {
    display: none;
  }
}

.movil-menu {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: #2b3b45ec;

  overflow-x: hidden;
  overflow-y: hidden;

  animation-name: apsent;
  animation-duration: .3s;

  .container-languajes {
    font-size: 1.5rem;
  }

  .languajes__titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .languajes__btn {
    font-size: 1.5rem;

  }

  @media (min-width : 680px) {
    display: none;
  }

}

@keyframes apsent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 10;
  }
}

.activo {
  color: #ff8e00;
}
