<header class="bg-gray-dark">
  <div class="container flex-header">
    <div class="titulo-principal">
      <a routerLink="/" class="">
        <span class="text-white fw-bolder fs-4">
          {{ "{ BSA }" }}
        </span>
      </a>
    </div>
    <div class="movil-nav">
      <div [ngClass]="movilMenuOpen ? 'movil-nav__icon-menu open' : 'movil-nav__icon-menu' "
        (click)="handleMovilMenu($event)">
        <div class="movil-nav__icon-menu__burger">

        </div>
      </div>
    </div>
    <nav class="navegacion">
      <a routerLink="/home" [routerLinkActive]="['activo']" class="enlace">Inicio</a>
      <a routerLink="/work" [routerLinkActive]="['activo']" class="enlace">Proyectos</a>
      <a routerLink="/about" [routerLinkActive]="['activo']" class="enlace">Sobre
        mi</a>
      <a routerLink="/contact" [routerLinkActive]="['activo']" class="enlace">Contacto</a>
    </nav>
  </div>
</header>

<div #munuMovil *ngIf="movilMenuOpen" (click)="handleCloseMovilNav($event)" class="movil-menu">
  <div class="p-5 d-flex gap-5 flex-column">
    <nav class="navegacion-movil">
      <a class="enlace" routerLink="/home" [routerLinkActive]="['activo']">Inicio</a>
      <a class="enlace" routerLink="/work" [routerLinkActive]="['activo']" >Proyectos</a>
      <a class="enlace" routerLink="/about" [routerLinkActive]="['activo']">Sobre mi</a>
      <a class="enlace" routerLink="/contact" [routerLinkActive]="['activo']">Contacto</a>
    </nav>
    <div class="container-languajes">
      <p class="text-center text-white languajes__titulo">Lenguages</p>
      <span class="d-flex justify-content-center gap-2">
        <button class="btn languajes__btn text-white">
          <img class="flag" src="./assets/flags/flag_usa.svg" alt="usa">
        </button>
        <button class="btn languajes__btn text-white">
          <img class="flag" src="./assets/flags/flag_esp.svg" alt="spain">
        </button>
        <button class="btn languajes__btn text-white">
          <img class="flag" src="./assets/flags/flag_fran.svg" alt="france">
        </button>
      </span>
    </div>
  </div>
</div>
