<header class="bg-dark-blue header_fixed">
  <div class="container flex-header">
    <div class="d-flex gap-5">
      <a class="animation_icon" routerLink="/">
        <img height="45" width="45" src="assets/bs.svg" alt="logo de la pagina">
      </a>
      <nav class="navegation" *ngIf="!loadingContent">
        <a routerLink="/" class="enlace" [ngClass]=" currentSection == '#start' ? 'active' : '' "
          (click)="scrollToSection('#start')">{{
          pageContent.navegation[0] }}</a>
        <a routerLink="/" class="enlace" [ngClass]=" currentSection == '#knowage' ? 'active' : '' "
          (click)="scrollToSection('#knowage')">{{
          pageContent.navegation[2] }}</a>
        <a routerLink="/" class="enlace" [ngClass]=" currentSection == '#work' ? 'active' : '' "
          (click)="scrollToSection('#work')">{{
          pageContent.navegation[1] }}</a>
        <a routerLink="/" class="enlace" [ngClass]=" currentSection == '#about' ? 'active' : '' "
          (click)="scrollToSection('#about')">{{
          pageContent.navegation[3] }} </a>
      </nav>
    </div>
    <div class="d-flex gap-5">
      <span class="d-flex gap-3">
        <a target="_blank" href="https://github.com/BrianS-TICS?tab=repositories">
          <img height="25" width="25" src="assets/github.svg" alt="logo de github">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/briansanchezaguilar/">
          <img height="25" width="25" src="assets/icons8-linkedin.svg" alt="logo de linkedin">
        </a>
        <a target="_blank" href="mailto:briansanchezaguilar@correo.com">
          <img height="25" width="25" src="assets/gmail.svg" alt="logo de gmail">
        </a>
      </span>
    </div>
    <div class="movil-nav">
      <div [ngClass]="movilMenuOpen ? 'movil-nav__icon-menu open' : 'movil-nav__icon-menu' "
        (click)="handleMovilMenu($event)">
        <div class="movil-nav__icon-menu__burger"></div>
      </div>
    </div>
  </div>
</header>

<div #munuMovil *ngIf="movilMenuOpen" (click)="handleCloseMovilNav($event)" class="movil-menu">
  <div class="p-5 d-flex gap-5 flex-column">
    <nav class="navegacion-movil">
      <a routerLink="/" class="enlace" [ngClass]=" currentSection == '#start' ? 'active' : '' "
        (click)="scrollToSection('#start')">{{
        pageContent.navegation[0] }}</a>
      <a routerLink="/" class="enlace" [ngClass]=" currentSection == '#knowage' ? 'active' : '' "
        (click)="scrollToSection('#knowage')">{{
        pageContent.navegation[2] }} </a>
      <a routerLink="/" class="enlace" [ngClass]=" currentSection == '#work' ? 'active' : '' "
        (click)="scrollToSection('#work')">{{
        pageContent.navegation[1] }}</a>
      <a routerLink="/" class="enlace" [ngClass]=" currentSection == '#about' ? 'active' : '' "
        (click)="scrollToSection('#about')">{{
        pageContent.navegation[3] }} </a>
    </nav>
    <div class="container-languajes">
      <p class="text-center text-white languajes__titulo">{{ pageContent.language }}</p>
      <span class="d-flex justify-content-center gap-2">
        <button (click)="changeLanguage('en')" class="btn languajes__btn text-white">
          <img class="flag" loading="lazy" src="./assets/flags/flag_usa.svg" alt="usa">
        </button>
        <button (click)="changeLanguage('es')" class="btn languajes__btn text-white">
          <img class="flag" loading="lazy" src="./assets/flags/flag_esp.svg" alt="spain">
        </button>
      </span>
    </div>
  </div>
</div>