<div class="vh-100">
  <header class="px-3 py-3 uppercase bg-dark">
    <h1 class="fw-bolder fs-6 fst-italic text-uppercase text-end text-white m-0">Administrador de protafolio</h1>
  </header>

  <div class="row w-100 height m-0 ">
    <aside class="col-12 col-sm-4 col-lg-2 bg-light p-0">
      <ul>
        <li class="text-bg-primary">
          <a class="text-center p-3 d-inline-block w-100 fw-bold text-decoration-none text-white"
            routerLink="./">Inicio</a>
        </li>
        <li class="text-bg-primary">
          <a class="text-center p-3 d-inline-block w-100 fw-bold text-decoration-none text-white"
            routerLink="./quotes">Citas textuales</a>
        </li>
        <li class="text-bg-primary">
          <a class="text-center p-3 d-inline-block w-100 fw-bold text-decoration-none text-white"
            routerLink="./technologies">Tecnologias</a>
        </li>
        <li class="text-bg-primary">
          <a class="text-center p-3 d-inline-block w-100 fw-bold text-decoration-none text-white"
            routerLink="./proyects">Proyectos</a>
        </li>
        <li class="text-bg-primary">
          <a class="text-center p-3 d-inline-block w-100 fw-bold text-decoration-none text-white" routerLink="/">Pagina
            web</a>
        </li>
      </ul>
    </aside>
    <main class="col-12 col-sm-8 col-lg-10 bg-body">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
