<menu class="p-0 w-100">
  <button (click)="changeSection('authors')"
    [ngClass]="sectionActive == 'authors' ? 'active btn btn-dark fw-bold w-50'  : 'btn btn-dark fw-bold w-50'  "
    class="btn btn-dark fw-bold w-50">Autores</button>
  <button (click)="changeSection('quotes')"
    [ngClass]="sectionActive == 'quotes' ? 'active btn btn-dark fw-bold w-50'  : 'btn btn-dark fw-bold w-50'  ">
    Citas
  </button>
</menu>

<div *ngIf="sectionActive === 'authors'">
  <div>
    <form [formGroup]="autorForm" class="d-flex flex-column container mx-auto my-5">
      <h2>Autores</h2>
      <div class="my-2">
        <label class="form-label" for="nombre">Escribe el nombre del autor</label>
        <input class="form-control" for="text" formControlName="nombre" placeholder="Nombre del autor">
      </div>

      <div class="my-2">
        <label class="form-label" for="apellidos">Escribe el apellido o apellidos</label>
        <input class="form-control" for="text" formControlName="apellidos" placeholder="Apellidos del autor">
      </div>

      <div class="row w-100 justify-content-center justify-content-lg-end mx-auto">
        <button type="button" class="btn btn-primary mt-3 fw-bold col-12 col-sm-8 col-md-5 col-lg-3"
          (click)="crearAutor()">Crear</button>
      </div>
    </form>
  </div>

  <div class="container">
    <h2>Listado de autores</h2>

    <div class="row gap-1 justify-content-center align-items-center my-4">

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between" *ngFor="let item of autores;">
          <div>
            <p class="fs-4">
              {{ item.nombre }}
            </p>
            <p class="fs-5">
             Fecha de creacion  {{item.created_at | date:
              'dd/MM/yyyy' }}
            </p>
          </div>
          <div>
            <button (click)="deleteQuote(item.id)" class="btn btn-danger w-100">Eliminar</button>
            <button (click)="deleteQuote(item.id)" class="btn mt-2 mt-md-2 btn-primary w-100">Editar</button>
          </div>
        </li>
      </ul>


    </div>
  </div>


</div>

<div *ngIf="sectionActive === 'quotes'">
  <div>
    <form [formGroup]="citasForm" class="d-flex flex-column container mx-auto my-5">
      <h2>Citas</h2>

      <div class="my-2">
        <label class="form-label" for="contenido">Contenido a citar</label>
        <textarea formControlName="contenido" class="form-control" placeholder="Escribe la cita" id="contenido"
          style="height: 100px"></textarea>
      </div>

      <div class="my-2">
        <label class="form-label" for="autor">Selecciona el autor</label>
        <select class="form-select" formControlName="author_id" id="autor">

          <option *ngFor="let autor of autores" [value]="autor.id">
            {{ autor.nombre + " " + autor.apellidos }}
          </option>
        </select>
      </div>

      <div class="my-2">
        <label class="form-label" for="fecha_difusion">Selecciona la fecha de difusion</label>
        <input formControlName="fecha_difusion" id="fecha_difusion" class="form-control" type="date">
      </div>

      <div class="row w-100 justify-content-center justify-content-lg-end mx-auto">
        <button type="button" class="btn btn-primary mt-3 fw-bold col-12 col-sm-8 col-md-5 col-lg-3"
          (click)="crearCita()">Crear</button>
      </div>
    </form>
  </div>

  <div class="container">
    <h2>Listado de citas</h2>
    <h3 *ngIf="citas.length === 0" class="mt-2 text-primary opacity-50 fs-5">Aún no hay citas</h3>
    <div class="row gap-1 justify-content-center align-items-center my-4">
      <div *ngFor="let item of citas; index as i;" class="col-12 col-sm-5 col-md-5 card my-2 p-0">
        <p class="card-header fw-bold">
          {{ item.name_author }}
        </p>
        <div class="card-body">
          <div class="row justify-content-center align-items-center flex-column">
            <div class="col-12 d-flex flex-column justify-content-between">
              <p class="card-title">
                {{ item.contenido }}
              </p>
              <span class="fs-7 fst-italic badge bg-secondary d-inline-block">{{ item.fecha_difusion | date:
                'dd/MM/yyyy'
                }}</span>
            </div>

            <div class="text-end mt-3 d-md-flex gap-md-3 mt-md-3">
              <button (click)="deleteQuote(item.id)" class="btn btn-danger w-100">Eliminar</button>
              <button (click)="deleteQuote(item.id)" class="btn mt-2 mt-md-0 btn-primary w-100">Editar</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
