<main class="main bg-light animate__animated animate__fadeIn">
  <section class="section container">
    <div class="row flex-column flex-sm-row">
      <div class="col-12 col-lg-8 p-5 pb-0 pt-0 pb-md-5">
        <h1 class="titulo mt-3 bg-gray">¿Quién soy?</h1>
        <p class="text-blue fw-bolder fs-5 mt-3">Mi nombre es Brian Sanchez Aguilar y soy un ingeniero en tecnologías de
          la
          información y las comunicaciones.</p>
        <p class="text-blue fw-bolder fs-5 ">Me enfoco en el área del desarrollo de software. He estado trabajando como
          desarrollador
          desde hace más de un año.</p>
        <p class="text-blue fw-bolder fs-5">Dentro de mis intereses esta el aprender diferentes idiomas y viajar a
          diferentes países.</p>
        <h2 class="title bg-gray mt-5 fs-1 p-0">¿Como podría ayudarte?</h2>
        <p class="text-blue fw-bolder fs-5">Puedo ayerdarte a diseñar los sitios y a desarrollar sus funciones, esto mediante lenguajes de programación y softwares especializados.</p>
      </div>
      <div class=" col-12 col-lg-4 p-5">
        <img src="assets/imagen_brian.jpg" alt="">
      </div>
    </div>
    <div class="row">
    </div>
  </section>
</main>