@use "/src/app/shared/variables" as *;

.btn-secondary {
  display: inline-block;
  padding: .5rem 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.proyect-detail__description {
  font-size: $fs-sm-regular;
  color: $terciry-text-color;

  @media (min-width : 670px) {
    font-size: ($fs-lg-regular)
  }
}

.proyect-detail__long-description {
  font-size: $fs-sm-tiny;
  color: $terciry-text-color;
  font-weight: 300;
  line-height: 1.5;

  @media (min-width : 670px) {
    font-size: $fs-lg-tiny-exception;
  }
}

.proyect-details__img {
  border-radius: 1rem !important;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.proyect-detail__used-technologies {
  font-size: $fs-sm-regular;
  color: $terciry-text-color;

  @media (min-width : 670px) {
    font-size: ($fs-lg-regular)
  }
}

.proyect-detail__technology-name {
  font-size: $fs-sm-tiny;
  color: $terciry-text-color;
  font-weight: 300;
  line-height: 1.5;

  @media (min-width : 670px) {
    font-size: $fs-lg-tiny-exception;
  }
}

.proyect-details {

  padding: 1rem;

  .btn-git {
    font-size: $fs-sm-tiny;
    display: inline-flex !important;
  }

  @media (min-width : 1280px) {
    padding: 1rem 5rem;
  }
}

.proyect-details__header {

  @media (min-width : 400px) {
    display: flex;
    justify-content: space-between;
  }

}

.bg-details {
  background-color: $secondary-bg-color;
}

.technology-name {
  font-size: .8rem;
  color: $details-color-4;
}

.used {
  padding-left: 2rem;
}

.tech-image {
  max-width: 3rem;
  margin: 0 auto;
}

.separation-dark {

  @media (min-width : 578px) {
    border-left: 1px solid #51595e;
    padding-left: 2rem;
    opacity: .7;
  }

  @media (min-width : 780px) {
    border-left: 1px solid #51595e;
    padding-left: 3rem;
    opacity: .7;
  }
}

.icon-github {
  max-width: 1.2rem;
}

