<div class="bg-details">

  <main class="container">

    <section *ngIf="!loadingContent" class="proyect-details">

      <a class="btn-secondary" routerLink="/" (click)="scrollToSection('#work')">{{ pageContent.proyect_return }}</a>

      <div class="proyect-details__header">
        <h3  data-aos="flip-down" data-aos-delay="300"   class="fw-bold text-white ">{{ selectedProyect.title }}</h3>

        <a target="_blank" [href]="selectedProyect.link_backend_github"
          class="d-flex d-sm-flex px-4 btn btn-dark gap-2 align-items-center bg-black rounded-4 btn-git ">
          <p class="p-0 m-0 ">Github</p>
          <div class="icon-github">
            <img width="25" height="25" src="./assets/github.svg" alt="github repo">
          </div>
        </a>
      </div>

      <img width="500" height="250" loading="lazy" *ngIf="mobileQuery.matches" class="proyect-details__img "
        [src]="selectedProyect.image" alt="proyect image">
      <img width="1920" height="500" loading="lazy" *ngIf="!mobileQuery.matches" class="proyect-details__img "
        [src]="selectedProyect.image_lg" alt="proyect image" />

      <div class="row mt-5 ">
        <div class="col-12 col-sm-7 ">
          <p class="proyect-detail__description"> {{ selectedProyect.description }}</p>
          <ng-container *ngIf="selectedProyect.long_description?.length > 0 ">
            <p class="proyect-detail__long-description" *ngFor="let tech of selectedProyect.long_description || [] ">{{tech}}
            </p>
          </ng-container>
        </div>

        <div class="col-12 col-sm-5 separation-dark ">
          <p *ngIf="selectedProyect.used_technologies" class="proyect-detail__used-technologies"> {{
            selectedProyect.used_technologies }}</p>

          <div class="row justify-content-center align-items-center">
            <ng-container *ngIf="selectedProyect.technologies?.length > 0">
              <div *ngFor="let tech of selectedProyect.technologies || [] " class="text-center col-4 col-lg-3">
                <img [src]="tech.image" class="tech-image" alt="image">
                <p class="proyect-detail__technology-name">{{tech.name}}</p>
              </div>

            </ng-container>
          </div>
        </div>

      </div>


    </section>


  </main>

</div>

<span *ngIf="!loadingContent" class="divition-light-line"></span>
