<main class="container hidden_header_area ">

    <section *ngIf="!loadingContent" class="proyect-details">

        <a class="btn-return" (click)="returnToHome()" routerLink="/">{{ pageContent.proyect_return }}</a>
        <h1 class="text-center fw-bold">{{ selectedProyect.title }}</h1>
        <img [src]="selectedProyect.image" class="card w-100 mt-4" alt="">

        <p class="text-center mt-5"> {{ selectedProyect.description }}</p>
        
        <div class="my-5">
            <img *ngFor="let image of selectedProyect.image_details" [src]="image" class="card p-0 mt-4 w-100"
                alt="image detail">
        </div>
        
    </section>

    
</main>
