$colorSecundario : #ffffffc0;

.view {
  height: 100vh;
}

.bg-color-secundario {
  background-color: $colorSecundario;
}

.section {
  padding: 5rem 2rem
}


.titulo {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;

  @media (min-width : 480px) {
    font-size: 3.5rem;
  }
}

.main {
  min-height: 20rem;
}

.bg-orange {
  background-color: #ff8e00;
}

.bg-blue {
  background-color: #2e85aa;
}

.bg-dark-blue {
  background-color: #2b3b45;
}

.scroll-stop {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
