$primaryColor : #005aa1;
$secondColor : #c97207;
$thirdColor : #1d272e;
$extraColor : #f1f2f5;

$successColor : #00c9a7;
$warningColor : #2e85aa;
$dangerColor : #ff4000b8;

$black : #000000;

.text-gray {
  color: #2b3b45c5;
}

.text-blue {
  color: $primaryColor;
}

.bg-blue {
  background-color: #51595e;
}

.text-second-color {
  color: $secondColor;
}

.bg-low-gray {
  background-color: $extraColor;
}

.bg-orange {
  background-color: $secondColor;
}


.bg-dark-blue {
  background-color: $thirdColor;
}

a {
  text-decoration: none;
  color: $black;
}

.section {
  padding: 1rem 1rem;

  @media (min-width : 480px) {
    padding: 5rem 1rem;
  }

}


.title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;

  @media (min-width : 480px) {
    font-size: 3.5rem;
  }
}

.main {
  position: relative;
  min-height: calc(100vh - 143.97px);
}

.mobile-content-controller {
  display: block;

  @media (min-width: 480px) {
    display: none;
  }
}


.scroll-stop {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.link {
  text-transform: capitalize;
}

.hidden_header_area {
  margin-top: 80px;
  display: block;
}

.fixed-span {

  display: none;

  @media (min-width : 680px) {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    background-color: $thirdColor;
    color: black;
    border-radius: 1rem;
    z-index: 9999;
    opacity: 0.7;
    border: 1px solid rgba(255, 255, 255, 0.233);
    transition: all ease-in-out .2s;

    &:hover {
      opacity: 1;
    }
  }

  .btn {
    color: $extraColor;
  }


  .activeOption {
    color: #ff8c00
  }

}

.loading-place-holder {
  position: relative;
  background-color: $thirdColor;
  overflow: hidden;
  z-index: 44;

  min-height: 40vh;

  opacity: .6;
  width: 100%;
  height: 100%;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 5px;

}

.loading-place-holder__activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, rgb(27 38 45 / 50%), rgb(33 46 54 / 70%), rgb(43 65 78 / 80%), rgb(33 46 54 / 70%), rgb(27 38 45 / 50%));

  animation: loading-place 1s infinite;
  z-index: 45;
}



@keyframes loading-place {
  0% {
    left: -45%;
  }

  100% {
    left: 100%;
  }
}