$primaryColor : #005aa1;
$secondColor : #c97207;
$thirdColor : #1d272e;
$extraColor : #f1f2f5;

$successColor : #00c9a7;
$warningColor : #2e85aa;
$dangerColor : #ff4000b8;

$black : #000000;

.text-gray {
  color: #2b3b45c5;
}

.text-blue {
  color: $primaryColor;
}


.text-second-color {
  color: $secondColor;
}

.bg-low-gray {
  background-color: $extraColor;
}

.bg-orange {
  background-color: $secondColor;
}

.bg-blue {
  background-color: $primaryColor;
}

.bg-dark-blue {
  background-color: $thirdColor;
}

a {
  text-decoration: none;
  color: $black;
}

.section {
  padding: 1rem 1rem;

  @media (min-width : 480px) {
    padding: 5rem 1rem;
  }

}


.title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;

  @media (min-width : 480px) {
    font-size: 3.5rem;
  }
}

.main {
  position: relative;
  min-height: calc(100vh - 143.97px);
}


.scroll-stop {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.link{
  text-transform: capitalize;
}

.hidden_header_area {
  margin-top: 80px;
}

.fixed-span {
  
  display: none;

  @media (min-width : 680px) {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    background-color: $thirdColor;
    color: black;
    border-radius: 1rem;
    z-index: 9999;

    border: 1px solid rgba(255, 255, 255, 0.233);
  }

  .btn{
    color: $extraColor;
  }


  .activeOption{
    color : #ff8c00
  }

}
.carousel-indicators {
  z-index: 1;
}