<div *ngIf="!loadingContent">
  <section id='start' class="presentation-section">
    <main class="seccion-presentacion container">

      <div class="presentation-sides">
        <div>
          <div class="seccion-presentacion-contenido">
            <div class="seccion-presentacion__nombre ">
              <p class="">{{pageContent.greeting}}</p>
            </div>
            <h2 data-aos="flip-down" data-aos-delay="200" class="seccion-presentacion__cargo"> {{ pageContent.job }}
            </h2>
            <h3 class="seccion-presentacion__descripcion">{{ pageContent.job_description }}</h3>

          </div>

          <section class="resume-section">
            <p class="resume-section__text">{{ this.pageContent.resume_title }}</p>
            <button class="position-relative btn btn-outline-dark mt-1 resume-section__btn" (click)="downloadPDF()">
              {{ this.pageContent.resume_btn }}
            </button>
          </section>
        </div>


        <div>
          <p class="contact-title">{{ this.pageContent.contact_title }}</p>
          <div class="contact-icons-container">

            <a class="contact-icons__icon" target="_blank" href="mailto:briansanchezaguilar@gmail.com">
              <img width="30" height="30" src="./assets/gmail.svg" alt="gmail icon">
            </a>
            <a class="contact-icons__icon" target="_blank" href="https://www.linkedin.com/in/briansanchezaguilar/">
              <img width="30" height="30" src="./assets/linkedin.svg" alt="linkedin icon">
            </a>

            <a class="contact-icons__icon" target="_blank" href="https://github.com/BrianS-TICS">
              <img width="30" height="30" class="contact-icons__img" src="./assets/github.svg" alt="github icon">
            </a>

          </div>
        </div>
      </div>

      <div class="arrow-container">
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>

    </main>

  </section>

  <section id='about' class="about-section">

    <div class="container">

      <h2 data-aos="zoom-in-right" class="about-title-section my-3 underline-decoration">{{ pageContent.about_me }}</h2>

      <p data-aos="zoom-in-left" class="about__text-information"
        *ngFor="let paragraf of pageContent.about_me_paragraphs">
        {{paragraf}}
      </p>

      <h3 class="experience-timeline-title">Experiencia</h3>
      <div class="experience-timeline-container">

        <div data-aos="zoom-in-right" class="experience-timeline__element ">
          <img class="experience-timeline__element__img" src="./assets/experience/duoLogo.png" alt="">
          <div>
            <h4 class="experience-timeline__element__title">Desarrollador Full-Stack</h4>
            <p class="experience-timeline__element__subtitle">DuoSeptem</p>
            <p class="experience-timeline__element__date">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="icon"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 12h6v6h-6z"></path>
                <path
                  d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z">
                </path>
              </svg>
              <span>Octubre de 2022</span> - <span>Actualmente</span>
            </p>
          </div>
        </div>

        <div data-aos="fade-up" class="experience-timeline__line"></div>

        <div></div>
        <div></div>

        <div data-aos="fade-up" class="experience-timeline__line"></div>

        <div data-aos="zoom-in-left" class="experience-timeline__element">
          <div>
            <h4 class="experience-timeline__element__title">Desarrollador Full-Stack</h4>
            <p class="experience-timeline__element__subtitle">DuoSeptem</p>
            <p class="experience-timeline__element__date">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="icon"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 12h6v6h-6z"></path>
                <path
                  d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z">
                </path>
              </svg>
              <span>Octubre de 2022</span> - <span>Actualmente</span>
            </p>
          </div>
          <img class="experience-timeline__element__img" src="./assets/experience/duoLogo.png" alt="">
        </div>

      </div>


      
      <h3 class="experience-timeline-title ">Educación</h3>
      <div class="experience-timeline-container">

        <div data-aos="zoom-in-right" class="experience-timeline__element ">
          <img class="m-3" width="70" height="70" src="./assets/education/tec-cul.png" alt="">
          <div>
            <h4 class="experience-timeline__element__title">Ingeniería en tecnologías de información y comunicaciones</h4>
            <p class="experience-timeline__element__subtitle">Instituto Tecnológico de Culiacán</p>
            <p class="experience-timeline__element__date">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="icon"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 12h6v6h-6z"></path>
                <path
                  d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z">
                </path>
              </svg>
              <span>Octubre de 2022</span> - <span>Actualmente</span>
            </p>
          </div>
        </div>

        <div data-aos="fade-up" class="experience-timeline__line"></div>

        <div></div>
        <div></div>

        <div data-aos="fade-up" class="experience-timeline__line"></div>

        <div data-aos="zoom-in-left" class="experience-timeline__element">
          <div>
            <h4 class="experience-timeline__element__title">Desarrollador Full-Stack</h4>
            <p class="experience-timeline__element__subtitle">DuoSeptem</p>
            <p class="experience-timeline__element__date">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="icon"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 12h6v6h-6z"></path>
                <path
                  d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z">
                </path>
              </svg>
              <span>Octubre de 2022</span> - <span>Actualmente</span>
            </p>
          </div>
          <img class="experience-timeline__element__img" src="./assets/experience/duoLogo.png" alt="">
        </div>

      </div>

<!--       
      <h2 data-aos="zoom-in-right" class="about-subtitle-section mt-5 p-0">{{ pageContent.how_to_help }}</h2>
      <p data-aos="zoom-in-left" class="about__text-information">{{ pageContent.how_to_help_paragraph }}</p> -->


    </div>
  </section>

  <section id='work' class="work-section">

    <div class="">
      <div class="container pt-5 pb-md-5 ">
        <h2 class="proyect-section-title mb-md-5 underline-decoration ">{{ pageContent.proyect }}</h2>

        <div class="proyect-card-container">
          <article data-aos="zoom-in" class="proyect-card" *ngFor="let proyect of pageContent.proyects">
            <div>
              <div>
                <img width="500" height="250" class="proyect-image " [src]="proyect.image"
                  [alt]=" proyect.title + ' proyect image'" [attr.loading]="proyect.loading ? 'eager' : 'lazy'">
              </div>
              <div>
                <p class="proyect-card__title">{{ proyect.title }}</p>
                <p class="proyect-description">{{ proyect.description }}</p>
                <a [routerLink]="'/proyect/'+ proyect.id" class="px-3 proyect-btn mt-3 mt-md-5 btn-secondary">
                  <p>{{ pageContent.proyects_see_more +" "+ proyect.title }}</p>
                </a>
              </div>

            </div>
          </article>
        </div>

        <div>
          <h2 class="proyect-section-title mb-4  my-md-5">{{ pageContent.secundaty_proyect }}</h2>

          <div class="proyect-card-container">

            <article data-aos="zoom-in" class="proyect-card" *ngFor="let proyect of pageContent.secundaty_proyects">

              <div>
                <div>
                  <img width="500" height="250" class="proyect-image" [src]="proyect.image"
                    [alt]=" proyect.title + ' proyect image'" loading="lazy">
                </div>
                <div>
                  <p class="proyect-card__title">{{ proyect.title }}</p>
                  <p class="proyect-description">{{ proyect.description }}</p>
                  <a [routerLink]="'/proyect/'+ proyect.id" class="px-3 proyect-btn mt-3 mt-md-5 btn-secondary ">
                    <p>{{ pageContent.proyects_see_more + " "+ proyect.title }}</p>
                  </a>
                </div>

              </div>
            </article>

          </div>

        </div>
      </div>
    </div>

  </section>

  <div class="">
    <section id='knowage' class="container knowage-section  pb-5 ">

      <h2 class="knowage-section-title underline-decoration">{{ pageContent.knowledge }}</h2>
      <h3 class="knowage-section__subtitle ">Frontend</h3>
      <ul class="knowage-section__list">

        <li>
          <app-knowledge-card technologyName="Angular" imageName="angular" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="Angular material" imageName="angular" backGroundcolor="success"
            technologyUrl="" [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="TypeScript" imageName="ts" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="JavaScript" imageName="js" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>

        <li>

          <app-knowledge-card technologyName="Next.Js" imageName="nextjs" backGroundcolor="success" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="React" imageName="react" backGroundcolor="success" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="SCSS" imageName="scss" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>
        <li>
          <app-knowledge-card technologyName="CSS" imageName="css" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>
        <li>
          <app-knowledge-card technologyName="Bootstrap" imageName="bootstrap" backGroundcolor="warning"
            technologyUrl="" [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="Tailwind CSS" imageName="tailwind" backGroundcolor="success"
            technologyUrl="" [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>
      </ul>

      <h3 class="knowage-section__subtitle">Backend</h3>
      <ul class="knowage-section__list">

        <li>
          <app-knowledge-card technologyName="Node.Js" imageName="nodejs" backGroundcolor="success" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="Express" imageName="express" backGroundcolor="success" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="MongoDB" imageName="mongo" backGroundcolor="success" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>
        <li>

          <app-knowledge-card technologyName="Mysql" imageName="mysql-simple" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="SQL" imageName="sql" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>
        <li>
          <app-knowledge-card technologyName="Php" imageName="php" backGroundcolor="success" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>
        <li>
          <app-knowledge-card technologyName="Laravel" imageName="laravel" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1] ">
          </app-knowledge-card>
        </li>

      </ul>

      <h3 class="knowage-section__subtitle">Extras</h3>
      <ul class="knowage-section__list">

        <li>
          <app-knowledge-card technologyName="Git" imageName="git" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1]">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="GitHub" imageName="github" backGroundcolor="warning" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[1]">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="Scrum" imageName="scrum" backGroundcolor="success" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[0] ">
          </app-knowledge-card>
        </li>

        <li>
          <app-knowledge-card technologyName="Jira" imageName="jira" backGroundcolor="success" technologyUrl=""
            [namelevel]=" pageContent.knowledge_levels[0]">
          </app-knowledge-card>
        </li>

      </ul>
    </section>
  </div>

  <div class="learning-section">
    <section class="section-learning container p-4 ">
      <h2 class="section-learning__title">{{ pageContent.learning }}</h2>
      <h3 class="section-learning__subtitle mt-0">{{ pageContent.learning_technologies }}</h3>
      <ul class="section-learning____list">
        <li class="section-learning___element-list" *ngFor="let paragraf of pageContent.learning_paragraphs"> {{
          paragraf }}</li>
      </ul>
    </section>
  </div>

</div>