@use "/src/app/shared/variables" as *;
@import '../../app.component.scss';

ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

.seccion-presentacion {
  // padding: 2rem 1rem;
  margin-top: 1rem;

  .seccion-presentacion-contenido {
    gap: 5rem;

    @media (min-width: 768px) {
      margin-top: 0rem;
    }

  }

}

.about-section {
  margin-bottom: 6rem;
  overflow: hidden;
}

.presentation-section {
  min-height: calc(100vh - 5.3125rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-presentacion__descripcion {
  font-size: $fs-sm-small;
  color: $secondary-text-color;
  line-height: 1.4;
  text-align: center;
  font-weight: 300;

  @media (min-width : 670px) {
    font-size: $fs-lg-regular;
    text-align: left;

  }
}


.seccion-presentacion__nombre {
  font-size: $fs-sm-regular;
  color: $secondary-text-color;
  font-weight: 900;
  text-align: center;


  @media (min-width : 670px) {
    font-size: $fs-lg-small;
    text-align: left;
  }

  .font-subtitle {
    text-transform: uppercase;
  }
}

.seccion-presentacion__cargo {
  font-size: $fs-sm-big;
  font-weight: 900;
  text-align: center;

  color: $contrast-color-1;

  @media (min-width : 670px) {
    font-size: $fs-lg-big;
    text-align: left;
  }

}

.work-section {
  background-color: $secondary-bg-color;
  overflow: hidden;
  border-radius: .8rem;

  @media (min-width : 670px) {
    border-radius: 0rem;
  }
}

.proyect-image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.proyect-card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width : 480px) {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width : 1050px) {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

}

.proyect-card {
  border: $details-color-4 solid .1rem;
  background-color: $contrast-color-4;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;

  &:hover {
    background-color: $secondary-text-color;
  }

}

.cursor-pointer {
  cursor: pointer;
}

.span-invisible {
  position: absolute;
  right: 0;
  width: 0;
}

.knowage-section {
  padding: 2rem 1.5rem;
}


.knowage-section__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  align-items: center;
  justify-content: center;


  @media (min-width : 480px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

  }

  @media (min-width : 768px) {
    grid-template-columns: repeat(4, 1fr);

  }
}


.knowage-section__list-level {
  background: $warningColor;
  padding: .3rem .2rem;
  border-radius: .4rem;
  font-weight: 500;
  font-size: 1rem;
  margin-top: .5rem;
  color: #f1f2f5;
}

.knowage-section__list-element {
  color: #2b3b45;
  font-weight: 900;
  font-size: 1rem;
  cursor: default;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  column-gap: .2rem;

  @media (min-width : 480px) {
    font-size: 1.2rem;
  }

  padding: 1rem;
  text-align: center;

  border-radius: 1rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #d9d9d9,
  -6px -6px 12px #ffffff;

  transition: all .5s;

  &:hover {
    transform: scale(110%) translateY(-.5rem);
    background: linear-gradient(145deg, #ff8e00, #ff8e00);
    color: white;
    cursor: pointer;
  }
}

.knowage-section__subtitle {
  color: $contrast-color-2;
  margin: 2rem 0;
  text-align: center;
  font-weight: bold;

  @media (min-width : 670px) {
    text-align: left;
  }

}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.section-learning__title {
  color: $terciry-text-color;
  display: table;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc($fs-sm-big - .4rem);
  text-align: center;

  @media (min-width : 670px) {
    display: inline-block;
    text-align: left;
    font-size: calc($fs-lg-big - 1rem);
  }

}

.section-learning__subtitle {
  color: $contrast-color-3;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;

  @media (min-width : 670px) {
    text-align: left;
  }
}

.section-learning___element-list {
  color: $terciry-text-color;
  font-weight: 300;
  font-size: $fs-lg-tiny-exception;
  text-transform: capitalize;
  text-align: center;

  @media (min-width : 670px) {
    text-align: left;
  }

}

.resume-section {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  @media (min-width : 670px) {
    margin-top: 2rem;
    text-align: left;
    justify-content: flex-start;
  }

  .resume-section__text {
    color: $secondary-text-color;
    font-weight: 300;
    font-size: $fs-sm-small;
    display: none;

    @media (min-width : 670px) {
      font-size: $fs-lg-tiny;
      display: block;
    }
  }

  .resume-section__btn {

    font-size: $fs-sm-tiny;

    @media (min-width : 670px) {
      font-size: $fs-lg-tiny-exception;

    }
  }

}



.languajes-container {
  display: none;

  @media (min-with:680px) {
    display: block;
    position: fixed;
    top: 10rem;
    left: 1rem;
  }
}

.border-corner {
  position: relative;

  @media (min-width : 768px) {


    ::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 30%;
      border-top: solid $details-color-4 0.1rem;
      border-left: solid $details-color-4 0.1rem;
      z-index: 1;
      box-sizing: border-box;
    }

    ::after {
      content: '';
      z-index: 1;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
      height: 30%;
      border-bottom: solid $details-color-4 0.1rem;
      border-right: solid $details-color-4 0.1rem;
      box-sizing: border-box;

    }
  }
}

.border-bottom-custom {
  display: block;
  height: 0.1rem;

  width: 100%;
  background-color: $details-color-4;
  margin: 1rem auto;

  @media (min-width : 480px) {
    width: 90%;
  }

}

.btn-secondary {
  display: block;

  padding: .5rem;
  color: $terciry-text-color;
  text-align: center;
  font-weight: 400;
  border-radius: .7rem;
  border: solid $terciry-text-color .1rem;

  &:hover {
    background-color: $terciry-text-color;
    color: $secondary-text-color;

  }

  @media (min-width: 670px) {
    display: inline-block;
  }

}

.text-information-color {
  color: #2b3b45;
  font-size: 1rem;
  font-weight: 500;
}

.proyect-description {
  font-size: $fs-sm-tiny;
  font-weight: 300;
  color: $terciry-text-color;
  margin-top: 1rem;

  @media (min-width : 670px) {
    font-size: $fs-lg-tiny-exception;
  }

}

.technology-tag-container {
  display: grid;
  gap: .2rem;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width : 480px) {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }


  .technology-tag {

    font-size: calc($fs-sm-tiny - .2rem);
    color: $contrast-color-3;
    font-weight: 300;
    text-align: center;

    @media (min-width : 670px) {
      font-size: calc($fs-lg-tiny-exception - .2rem);
      text-align: left;
      border-radius: .2rem;
      display: inline-block;
    }
  }


}

.proyect-section-title {
  display: table;
  text-align: center;
  margin: 0 auto 2rem auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: $fs-sm-big;
  color: $terciry-text-color;

  @media (min-width : 670px) {
    display: inline-block;
    text-align: left;
    font-size: calc($fs-lg-big - .8rem);
  }
}

.proyect-card__title {
  font-size: $fs-sm-small;
  color: $terciry-text-color;

  margin-top: 2rem;
  font-weight: bolder;

  @media (min-width : 670px) {
    font-size: $fs-lg-small;
  }
}

.proyect-btn {
  font-size: $fs-sm-tiny;
  width: 100%;

  @media (min-width : 670px) {

    text-align: center;
    font-size: $fs-lg-tiny-exception;
  }
}



.about-title-section {
  display: table;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: $fs-sm-big;
  color: $secondary-text-color;
  text-align: center;

  @media (min-width : 670px) {
    display: inline-block;
    margin: 0 auto;
    font-size: calc($fs-lg-big - .8rem);
  }
}


.about__text-information {
  line-height: 1.5;
  font-size: $fs-sm-tiny;
  color: $secondary-text-color;
  font-weight: 300;
  text-align: center;

  @media (min-width : 670px) {
    text-align: left;
    font-size: $fs-lg-tiny-exception;
  }

}

.about-subtitle-section {

  text-transform: uppercase;
  font-weight: 900;
  font-size: $fs-sm-big;
  color: $secondary-text-color;
  text-align: center;

  @media (min-width : 670px) {
    font-size: calc($fs-lg-big - 1.8rem);
    text-align: left;
  }

}


.knowage-section-title {
  display: table;
  text-align: center;
  margin: 0 auto 2rem auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: $fs-sm-big;
  color: $contrast-color-4;

  @media (min-width : 670px) {
    display: inline-block;
    text-align: left;
    font-size: calc($fs-lg-big - .8rem);
  }
}


.learning-section {
  background-color: $secondary-bg-color;
}
