<div>
  <section id='start' class="bg-blue background-image animate__animated animate__fadeIn hidden_header_area">
    <main class="seccion-presentacion container">
      <div class="seccion-presentacion-contenido">

        <div *ngIf="!loadingContent">
          <h1 class="seccion-presentacion__nombre">
            <p class="d-block font-title">{{ pageContent.name }}</p>
          </h1>
          <h3 class="seccion-presentacion__cargo"> {{ pageContent.job }} </h3>
          <h4 class="seccion-presentacion__descripcion">{{ pageContent.job_description }}</h4>
        </div>

        <div *ngIf="loadingContent" class="loadingContent"></div>

        <div class="cita-textual" *ngIf="currentCita">
          <p class="cita-textual__texto">{{ '" ' + currentCita.contenido + ' "' }} </p>
          <p class="cita-textual__texto">{{ currentCita.name_author }}.</p>
          <button class="position-relative btn btn-outline-light mt-2" (click)="getNextCita()">
            Cambiar cita
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-orange">+</span>
          </button>
        </div>

      </div>
    </main>
  </section>

  <div class="bg-low-gray">
    <section *ngIf="!loadingContent" id='knowage' class="container knowage-section  animate__animated animate__fadeIn">
      <h2 class="knowage-section__title title">{{ pageContent.knowledge }}</h2>
      <h3 class="knowage-section__subtitle subtitle mt-0">Frontend</h3>
      <ul class="knowage-section__list">

        <app-knowledge-card technologyName="Angular" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Angular material" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="TypeScript" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="JavaScript" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Next.Js" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="React" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="SCSS" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="CSS" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Bootstrap" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Tailwind CSS" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>
      </ul>

      <h3 class="knowage-section__subtitle subtitle">Backend</h3>
      <ul class="knowage-section__list">

        <app-knowledge-card technologyName="Node.Js" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Express" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="MongoDB" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Mysql" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="SQL" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Php" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Laravel" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1] ">
        </app-knowledge-card>

      </ul>

      <h3 class="knowage-section__title subtitle mt-4">Extras</h3>
      <ul class="knowage-section__list">

        <app-knowledge-card technologyName="Git" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1]">
        </app-knowledge-card>

        <app-knowledge-card technologyName="GitHub" backGroundcolor="warning" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[1]">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Scrum" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0] ">
        </app-knowledge-card>

        <app-knowledge-card technologyName="Jira" backGroundcolor="success" technologyUrl=""
          [namelevel]=" pageContent.knowledge_levels[0]">
        </app-knowledge-card>

      </ul>
    </section>
  </div>

  <section id='work' class="bg-dark-blue">

    <div *ngIf="!loadingContent" class="container py-5">
      <h1 class="title text-second-color mb-5 ">{{ pageContent.proyect }}</h1>

      <div class="d-block" *ngFor="let proyect of pageContent.proyects">
        <div class="proyect-card">
          <div class="proyect-card__description">
            <p class="text-center mt-5 h2">{{ proyect.title }}</p>
            <p class="text-center mt-2 p1">{{ proyect.description }}</p>

            <a [routerLink]="'/proyect/'+ proyect.id"
              class="text-white text-decoration-underline cursor-pointer text-center">
              <p>{{ pageContent.proyects_see_more}}</p>
              <!-- <img class="w-auto cursor-pointer" width="50" height="50" src="./assets/github.svg" alt="">
              <img class="w-auto cursor-pointer" width="50" height="50" src="./assets/svg-pensamiento.svg" alt=""> -->
            </a>
          </div>
          <img class="card-img-top" [src]="proyect.image" [alt]=" proyect.title + ' proyect image'" loading="lazy">
        </div>
      </div>

      <!-- <img src="./assets/proyectos/agenciadeviajes.webp" loading="lazy" class="" alt="...">

        <img src="./assets/proyectos/devjobsimg.webp" loading="lazy" class="" alt="...">

        <img src="https://i.postimg.cc/fbjQfMqr/Login.png " loading="lazy" alt=""> -->



      <div>
        <h2 class="title text-light  my-5">{{ pageContent.secundaty_proyect }}</h2>

        <div class="d-block" *ngFor="let proyect of pageContent.secundaty_proyects">
          <div class="proyect-card">
            <div class="proyect-card__description">
              <p class="text-center mt-5 h2">{{ proyect.title }}</p>
              <p class="text-center mt-2 p1">{{ proyect.description }}</p>
              <a
                class="text-white text-decoration-underline d-flex gap-5 justify-content-center align-content-center proyect-card__description__icons cursor-pointer">
                <p>{{ pageContent.proyects_see_more}}</p>
                <!-- <img class="w-auto cursor-pointer" width="50" height="50" src="./assets/github.svg" alt="">
                <img class="w-auto cursor-pointer" width="50" height="50" src="./assets/svg-pensamiento.svg" alt=""> -->
              </a>
            </div>
            <img class="card-img-top" [src]="proyect.image" [alt]=" proyect.title + ' proyect image'" loading="lazy">
          </div>
        </div>


      </div>
    </div>
  </section>


  <section id='about' class="bg-low-gray">
    <div *ngIf="!loadingContent" class="section container">
      <div class="row flex-column flex-sm-row">
        <div class="col-12 col-lg-8 p-5 pb-0 pt-0 pb-md-5">
          <h1 class="title my-3 bg-gray">{{ pageContent.about_me }}</h1>
          <p class="text-blue fw-bolder fs-5 " *ngFor="let paragraf of pageContent.about_me_paragraphs">
            {{paragraf}}
          </p>

          <h2 class="title bg-gray mt-5 fs-1 p-0">{{ pageContent.how_to_help }}</h2>
          <p class="text-blue fw-bolder fs-5">{{ pageContent.how_to_help_paragraph }}</p>
        </div>
        <div class=" col-12 col-lg-4 p-5">
          <img src="assets/imagen_brian.jpg" alt="web developer brian image" loading="lazy">
        </div>
      </div>
    </div>
  </section>


  <div class="bg-dark-blue borde-inferior-white">
    <section *ngIf="!loadingContent" class="section-learning container">
      <h2 class="section-learning__title title">{{ pageContent.learning }}</h2>
      <h3 class="section-learning__subtitle subtitle mt-0">{{ pageContent.learning_technologies }}</h3>
      <ul class="section-learning____list">
        <li class="section-learning___element-list" *ngFor="let paragraf of pageContent.learning_paragraphs"> {{
          paragraf }}</li>
      </ul>
    </section>
  </div>

</div>