@import '../../app.component.scss';

ul {
  list-style: none;
}

p {
  margin: 0;
}

.font-title {

  font-size: 3rem;

  @media (min-width : 480px) {
    font-size: 5rem;

  }
}

.seccion-presentacion {
  padding: 3rem 2rem;


  @media (min-width: 480px) {
    padding: 10rem 2rem;
  }

  .seccion-presentacion-contenido {
    gap: 5rem;
    // min-width: 50vw;
    min-height: 5rem;

    @media (min-width: 768px) {
      display: flex;
    }

    @media (min-width: 1028px) {
      display: flex;
      gap: 8rem;
    }
  }

}

.seccion-presentacion__descripcion {
  font-size: 1rem;
  color: white;
  line-height: 1.4;
  max-width: 33rem;
  text-align: left;

  @media (min-width : 480px) {
    font-size: 1.2rem;
    text-align: left;

  }
}

.seccion-presentacion .title {
  font-size: 4rem;
  color: white;

  @media (min-width: 480px) {
    font-size: 6rem;

  }
}

.seccion-presentacion__nombre {
  font-size: 2.5rem;
  color: white;
  font-weight: 900;
  text-align: left;

  @media (min-width: 480px) {
    font-size: 4rem;
    text-align: left;
  }
}

.seccion-presentacion__cargo {
  font-size: 2rem;
  font-weight: 900;
  text-align: left;


  background-image: linear-gradient(to left bottom, #ff6300, #ff8000, #ff9a00, #ffb400, #ffcc00);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  position: relative;

  @media (min-width: 480px) {
    font-size: 3rem;
    text-align: left;
  }

}

.proyect-card {
  position: relative;
  overflow: hidden;

  .proyect-card__description {
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(100%);

    position: absolute;
    background-color: rgba(0, 0, 0, 0.623);

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    padding: 20px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  &:hover {
    .proyect-card__description {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

.proyect-card__description__icons {
  margin: 0 auto;
  background-color: #00000013;
  padding: .8rem 2rem;
  border-radius: .5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.span-invisible {
  position: absolute;
  right: 0;
  width: 0;
}


.title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;

  @media (min-width : 480px) {
    font-size: 3.5rem;

  }
}

.borde-inferior-white {
  border-bottom: #ffffff solid .2rem;
}

.knowage-section {
  padding: 2rem 1.5rem;
}

.divition-line {
  display: block;
  content: '';
  height: 10rem solid black;
  width: 100%;
}


.knowage-section__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  align-items: center;
  justify-content: center;


  @media (min-width : 480px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

  }

  @media (min-width : 768px) {
    grid-template-columns: repeat(4, 1fr);

  }
}


.knowage-section__list-level {
  background: $warningColor;
  padding: .3rem .2rem;
  border-radius: .4rem;
  font-weight: 500;
  font-size: 1rem;
  margin-top: .5rem;
  color: $extraColor;
}

.knowage-section__list-element {
  color: #2b3b45;
  font-weight: 900;
  font-size: 1rem;
  cursor: default;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  column-gap: .2rem;

  @media (min-width : 480px) {
    font-size: 1.2rem;
  }

  padding: 1rem;
  text-align: center;

  border-radius: 1rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #d9d9d9,
  -6px -6px 12px #ffffff;

  transition: all .5s;

  &:hover {
    transform: scale(110%) translateY(-.5rem);
    background: linear-gradient(145deg, #ff8e00, #ff8e00);
    color: white;
    cursor: pointer;
  }
}

.knowage-section__subtitle {
  color: #2e85aa;
  margin: 2rem 0;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 900;

  @media (min-with:480px) {
    font-size: 2rem;
  }
}

.background-image {
  background: center fixed linear-gradient(rgba(0, 0, 0, 0.014), rgba(0, 0, 0, 0.911)), url('../../../assets/fodo.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.section-learning__title {
  color: white;
}

.section-learning__subtitle {
  color: #ff8e00;
  text-transform: capitalize;
}

.section-learning___element-list {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: capitalize;
}

img {
  width: 100%;
}

.cita-textual {
  margin-top: 2rem;
  max-width: 30rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;

  @media (min-width : 768px) {
    margin-top: 1rem;
    // transform: rotateZ(10deg);
    max-width: 20rem;
    text-align: left;
  }

  .cita-textual__texto {
    color: #f1f2f5;
    font-size: 1.2rem;
    font-weight: 900;

    @media (min-width : 480px) {
      font-size: 2rem;
    }
  }

  .cita-textual_btn {
    text-decoration: underline;
    padding: 0;

    &:hover {
      color: #ff8e00;
    }
  }

}

.rounded-pill {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.languajes-container {
  display: none;

  @media (min-with:680px) {
    display: block;
    position: fixed;
    top: 10rem;
    left: 1rem;
  }
}

.border-corner {
  position: relative;

  @media (min-width : 768px) {


    ::before {
      content: '';
      /* Asegura que el pseudo-elemento tenga contenido */
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      /* Ajusta el ancho del borde */
      height: 30%;
      /* Ajusta la altura del borde */
      border-top: solid #51595e 0.1rem;
      border-left: solid #51595e 0.1rem;

      box-sizing: border-box;
      /* Incluye el tamaño del borde en las dimensiones del elemento */
    }

    ::after {
      content: '';
      /* Asegura que el pseudo-elemento tenga contenido */
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
      /* Ajusta el ancho del borde */
      height: 30%;
      /* Ajusta la altura del borde */
      border-bottom: solid #51595e 0.1rem;
      border-right: solid #51595e 0.1rem;

      box-sizing: border-box;
      /* Incluye el tamaño del borde en las dimensiones del elemento */
    }
  }
}

.border-bottom-custom {
  display: block;
  height: 0.1rem;

  width: 100%;
  background-color: #51595e;
  margin: 1rem auto;

  @media (min-width : 480px) {
    width: 80%;
  }

}

.btn-secondary {
  display: block;
  padding: .5rem;
  color: white;
  text-align: center;
  font-weight: 400;
  max-width: 10rem;
  background-color: #2e85aa;

  &:hover {
    background-color: #208bb9;
  }
}

.text-information-color {
  color: #2b3b45;
  font-size: 1rem;
  font-weight: 500;
}

.technology-tag-container {
  display: grid;
  gap: .2rem;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width : 480px) {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }


  .technology-tag {

    font-size: .8rem;
    color: #ff9a00;
    font-weight: bold;
    text-align: center;

    @media (min-width : 760px) {
      text-align: left;
      border-radius: .2rem;
      display: inline-block;
    }
  }


}


