<div class="height-page-calc">
  <main class="bg-blue bg-image animate__animated animate__fadeIn">
    <section class="seccion-presentacion container">
      <div class="seccion-presentacion-contenido">
        <div>
          <h1 class="seccion-presentacion__nombre">
            <p class="d-block font-title">Brian</p>
            <p class="d-block">Sánchez</p>
          </h1>
          <h3 class="seccion-presentacion__cargo">Desarrollador <span class="span-cargo">Fullstack</span><span
              class="span-invisible">&#160;</span></h3>
          <h4 class="seccion-presentacion__descripcion">Me encargo de crear, mantener y modificar aplicaciones web,
            desde
            la
            creación de una base de datos hasta la edición de estilos.</h4>
        </div>
        <div class="cita-textual" *ngIf="currentCita" >
          <p class="cita-textual__texto">{{  '" ' + currentCita.contenido + ' "'  }} </p>
          <p class="cita-textual__texto">{{  currentCita.name_author  }}.</p>
          <button class="position-relative btn btn-outline-light mt-2" (click)="getNextCita()">
            Cambiar cita
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-orange">+</span>
          </button>
        </div>
      </div>
    </section>
  </main>

  <div class="bg-gray-low">
    <section class="container seccion-conocimientos animate__animated animate__fadeIn">
      <h2 class="seccion-conocimientos__titulo titulo">Conocimientos</h2>
      <h3 class="seccion-conocimientos__subtitulo subtitulo mt-0">Frontend</h3>
      <ul class="seccion-conocimientos__lista">
        <a href="https://angular.io/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Angular</li>
        </a>
        <a href="https://material.angular.io/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Angular material</li>
        </a>
        <a href="https://es.reactjs.org/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">React</li>
        </a>
        <a href="https://nextjs.org/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Next.Js</li>
        </a>
        <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">JavaScript</li>
        </a>
        <a href="https://www.typescriptlang.org/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">TypeScript</li>
        </a>
        <a href="https://getbootstrap.com/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Bootstrap</li>
        </a>
        <a href="https://tailwindcss.com/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Tailwind CSS</li>
        </a>
        <a href="https://sass-lang.com/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">SASS</li>
        </a>
        <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">CSS</li>
        </a>
      </ul>

      <h3 class="seccion-conocimientos__subtitulo subtitulo">Backend</h3>
      <ul class="seccion-conocimientos__lista">
        <a href="https://nodejs.org/es/about/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Node.Js</li>

        </a>
        <a href="https://expressjs.com/" target="_blank">

          <li class="seccion-conocimiento__elemento-lista">Express</li>
        </a>
        <a href="https://www.mongodb.com/cloud/atlas/lp/try4?utm_content=rlsavisitor&utm_source=google&utm_campaign=search_gs_pl_evergreen_atlas_core_retarget-brand_gic-null_amers-all_ps-all_desktop_eng_lead&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=14412646314&adgroup=131761122172&cq_cmp=14412646314&gclid=CjwKCAiAuaKfBhBtEiwAht6H70Bear8ebpDKa40B-mwU5Vatzm8NXLrvzWaZH8twVNSkAHs8JyfaNxoCdQIQAvD_BwE"
          target="_blank">

          <li class="seccion-conocimiento__elemento-lista">MongoDB</li>
        </a>
        <a href="https://www.mysql.com/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Mysql</li>

        </a>
        <a href="https://aws.amazon.com/es/what-is/sql/#:~:text=El%20lenguaje%20de%20consulta%20estructurada%20(SQL)%20es%20un%20lenguaje%20est%C3%A1ndar,relacional%20que%20utiliza%20consultas%20SQL."
          target="_blank">

          <li class="seccion-conocimiento__elemento-lista">SQL</li>
        </a>
        <a href="https://www.php.net/manual/es/intro-whatis.php" target="_blank">

          <li class="seccion-conocimiento__elemento-lista">Php</li>
        </a>
        <a href="https://laravel.com/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Laravel</li>

        </a>
      </ul>

      <h3 class="seccion-conocimientos__subtitulo subtitulo">Extras</h3>
      <ul class="seccion-conocimientos__lista">
        <a href="https://git-scm.com/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Git</li>
        </a>
        <a href="https://github.com/" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">GitHub</li>
        </a>
        <a href="https://www.scrum.org/resources/what-is-scrum" target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Scrum</li>
        </a>
        <a href="https://www.atlassian.com/es/software/jira?&aceid=&adposition=&adgroup=143040524765&campaign=19324540226&creative=642190148804&device=c&keyword=jira&matchtype=e&network=g&placement=&ds_kids=p74609443754&ds_e=GOOGLE&ds_eid=700000001558501&ds_e1=GOOGLE&gclid=CjwKCAiAuaKfBhBtEiwAht6H776xo8Bp-6Ekd2-Yzwhlalbtsm7s4hEV-nGufF_RqYw6YxOKd6EWsxoCPmYQAvD_BwE&gclsrc=aw.ds"
          target="_blank">
          <li class="seccion-conocimiento__elemento-lista">Jira</li>
        </a>
      </ul>
    </section>
  </div>


  <div class="bg-blue-strong borde-inferior-white">
    <section class="seccion-aprendiendo container">
      <h2 class="seccion-aprendiendo__titulo titulo">Aprendiendo</h2>
      <h3 class="seccion-aprendiendo__subtitulo subtitulo mt-0">Tecnologías</h3>
      <ul class="seccion-aprendiendo__lista">
        <li class="seccion-aprendiendo__elemento-lista">React-Native</li>
        <li class="seccion-aprendiendo__elemento-lista">Kotlin</li>
      </ul>
    </section>
  </div>

  <app-languages class="languajes-container"></app-languages>
</div>
