a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

.scroll-stop {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.bg-page {
  background-color: #1d272e;
}
